@{
    var Order = TempData["order"] as WooCommerceNET.WooCommerce.v2.Order;
    var Invoice = TempData["invoice"] as Fortnox.SDK.Entities.Invoice;
    var InvoiceAccrual = TempData["invoiceAccrual"] as Fortnox.SDK.Entities.InvoiceAccrual;
}
@if (ViewBag.Error != null)
{
    <p style="font-weight:normal;color:red">
    <br />
    @Html.Raw(ViewBag.Error)
</p>
}
@if (ViewBag.Message != null)
{
    <p style="font-weight:normal;color:green">
    <br />
    @Html.Raw(ViewBag.Message)
</p>
}

<div style="width:50%; float: left;">
    <h1>WooCommerce</h1>
    @Html.DisplayFor(m=> @Order)
</div>

<div style="float:right;width: 45%;">

    <div class="vertical-divider"></div>

    <div>
        <h1>Fortnox</h1>
        @Html.DisplayFor(m => @Invoice)
    </div>
</div>

<div style="clear:both"></div>