@model Fortnox.SDK.Entities.Invoice
<style>
    table {
        width: 100%;
    }
</style>

<h2>Invoice</h2>
<table>
    <tr>
        <th>Total</th>
    </tr>
    <tr>
        <td>@Model.Total</td>
    </tr>
</table>