@model Dictionary<string, Fortnox.SDK.Entities.InvoiceAccrual>;
@{
    Layout = null;
}
@if (Model != null)
{
    <table id="invoiceTable" cellpadding="0" cellspacing="0">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var keyValuePair in Model)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
}
else
{
    <div class="text-danger">No Accrual Invoices found</div>
}